#!/bin/zsh

alias e=$EDITOR
alias tigs="tig status"

mkcd() {
  mkdir -p "$1" && cd "$1"
}

killport() {
  kill -9 $(lsof -i TCP:"$1" | grep LISTEN | awk '{print $2}')
}

dotenv() {
  file="${1:-.env}"
  set -o allexport
  source "${1:-.env}"
  set +o allexport
}

{{ if eq .chezmoi.os "linux" }}
{{ if eq .chezmoi.osRelease.idLike "debian" }}
alias fd="fdfind"
{{ end }}
{{ end }}

alias pi="ssh pi"

# chezmoi
alias cm="chezmoi"
alias cme="cm edit"
alias cma="cm add"
alias cmA="cm apply"
alias cmg="cm git"
alias cmd="cm diff"
alias cmc="cm cd"

# python
alias py="python3"
alias pym="py -m"
alias va=". .venv/bin/activate"
alias ve="pym venv .venv && va"
# alias ds=". $HOME/DataScience/.venv/bin/activate"
alias ipy="pym IPython"
alias jnb="pym jupyter notebook"
alias serve="pym http.server"

# javascript
alias js="node"
alias lserve="live-server"
alias y="yarn"
alias ys="yarn start"

# open on macOS
alias o=open
alias a="o -a"
alias f="o ."

# homebrew
alias b="brew"
alias bi="b install"
alias bic="bi --cask"
alias bui="b uninstall"
alias bud="b update"
alias bug="b upgrade"
alias bs="b search"

# git
alias gpo="git pull origin"

unalias gco
gco() {
  if [[ "$#" -gt 0 ]]
  then
    git checkout $@
    return
  fi

  branch=$(git branch --sort=-committerdate | fzf | tr -d '[[:space:]*]')
  if [[ ! -z "$branch" ]]
  then
    git checkout "$branch"
  fi
}

unalias gbm
gbm() {
  if [[ "$#" -gt 0 ]]
  then
    git branch --move $@
    return
  fi

  branch=$(git-branch-current)
  vared branch
  git branch --move $branch
}
